<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Analytical Template App</title>
</head>


<body>
    <a href="createaccount.html">Create Account</a>
    <div class="wrapper">
        <form action="" method="POST">
            <input name="username" type="text" placeholder="username">
            <br>
            <br>
            <input name="username" type="text" placeholder="password">
            <br>
            <br>
            <input name="username" type="submit" value="Login">
        </form>
    </div>

</body>

</html>