<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Analytical Template App</title>
</head>
<!-- <script>
    function showPass() {
        var pass = document.getElementById('pass');
        if (document.getElementById('check').checked) {
            pass.setAttribute('type', 'text');
        } else {
            pass.setAttribute('type', 'password');
        }
    }
</script> -->

<body>
    <a href="createaccount.html">Create Account</a>
    <div class="wrapper">
        <form action='/loggedin' method="POST">
            <input name="username" type="text" placeholder="username">
            <br>
            <br>
            <input name="password" type="text" id="pass" placeholder="password">
            <br>
            <br>
            <!-- <input type="checkbox" id="check" onclick="showPass();">Show Passwords -->
            <!-- <br>
            <br> -->
            <input type="submit" value="Login">
        </form>
    </div>

</body>

</html>