<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Create Survey</title>
</head>

<body>
    <div class="wrapper">
        <h1>Create a Survey</h1>
        <form action="/survey" method="POST">
            <input name="title" type="text" placeholder="Title">
            <br>
            <br>
            <input name="question_one" type="text" placeholder="Question One">
            <br>
            <br>
            <input name="question_two" type="text" placeholder="Question Two">
            <br>
            <br>
            <input name="question_three" type="text" placeholder="Question Three">
            <br>
            <br>
            <input name="question_four" type="text" placeholder="Question Four">
            <br>
            <br>
            <input name="question_five" type="text" placeholder="Question Five">
            <br>
            <br>
            <input name="question_six" type="text" placeholder="Question Six">
            <br>
            <br>
            <input name="username" type="text" placeholder="username">
            <br>
            <br>
            <input type="submit" value="Create Survey">
        </form>
    </div>
</body>

</html>