<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Survey</title>
</head>

<style>
    .wrapper {
        text-align: center;
    }
</style>

<body>
    <div class="wrapper">
        <h1>Create a Survey</h1>
        <form action="" method="POST">
            <input type="text" placeholder="Title">
            <br>
            <br>
            <input type="text" placeholder="Question One">
            <br>
            <br>
            <input type="text" placeholder="Question Two">
            <br>
            <br>
            <input type="text" placeholder="Question Three">
            <br>
            <br>
            <input type="text" placeholder="Question Four">
            <br>
            <br>
            <input type="text" placeholder="Question Five">
            <br>
            <br>
            <input type="text" placeholder="Question Six">
            <br>
            <br>
            <input type="submit" value="Create Survey">
        </form>
    </div>
</body>

</html>