<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <h2>{{ question_one }}</h2>
    <input type="text" name="answer_one">
    <br>
    <br>
    <h2>{{ question_two }}</h2>
    <input type="text" name="answer_two">
    <h2>{{ question_three }}</h2>
    <input type="text" name="answer_three">
    <br>
    <br>
    <h2>{{ question_four }}</h2>
    <input type="text" name="answer_four">
    <br>
    <br>
    <h2>{{ question_five }}</h2>
    <input type="text" name="answer_five">
    <br>
    <br>
    <h2>{{ question_six }}</h2>
    <input type="text" name="answer_six">
    <br>
    <br>
    <input type="submit" value="submit survey">
</body>

</html>