<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>View Survey</title>

</head>

<body>
    <form action="/viewsurvey" method="POST">
        <input name="survey_name" placeholder="survey name">
        <input name="username" placeholder="username">
    </form>
</body>

</html>